body {
  padding: 0;
  margin: 0;
      background-image: linear-gradient(#54b4eb, #2FA4E7 60%, #1d9ce5);
}

#map,
body,
html {
  height: 100%;
}

h1,h3,h2 { font-family: "Comic Sans MS", "Comic Sans", cursive;} 
p { font-size : 18px; }
h4 { font-size : 15px; }
h2 { font-size : 21px;
	 font-weight : bold;
   }
h3 { font-size : 17px;
	 font-weight : bold;
   }

.legend {
  font-weight: bold;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 17px rgba(0.3,0.3,0.3,0.3);
  border-radius: 7px;
  padding: 10px 10px;
  float : both;
}

.legend i {
  display: inline-block;
  width: 15px;
  height: 15px;
  float: left;
  clear:both;
}
p { font-weight: bold;
color: white;}

a { color: white;}