
.jumbotron {
	
background-image:url("/static/images/airbnb.png");
background-position: center; /* Center the image */
background-size: cover; /* Resize the background image to cover the entire container */
font-family: "Comic Sans MS", "Comic Sans", cursive;
color:white;
}

#list, #host, #review {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	text-align:center;
	background-image:url("/static/images/airbnb.png");
background-position: center; /* Center the image */
background-repeat: no-repeat;
background-size: cover;
	color: white;
	

}

.text-align-center {background-image:url("/static/images/hawaii_1.jpg");
background-position: bottom;background-repeat: no-repeat;
color:white;}

.mainp {font-size:25px;
   font-weight:normal; }

footer{
	background-image:url("/static/images/Table.gif"),url("/static/images/Table.gif");
background-position: left, right; /* Center the image */
background-size: 170px ;
background-repeat: no-repeat, no-repeat;

}

header {
	background-image:url("/static/images/Table.gif"),url("/static/images/Table.gif");
background-position: left, right; /* Center the image */
background-size: 170px ;
background-repeat: no-repeat, no-repeat;}
	
h1,h3,h2 { font-family: "Comic Sans MS", "Comic Sans", cursive;
text-align:center; } 

p { font-family: "Comic Sans MS", "Comic Sans", cursive; 
 }

.page-collection {font-size:19px;}

.container {background-color: #ffff;}

.text  {color: white;}

table {
  table-layout: fixed ;
  width: 100% ;
  text-align:center;
  background-image:url("/static/images/Table1.gif");
  /* Center the image */
  
background-size: cover; /* Resize the background image to cover the entire container */
}


.footer-wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0px 0px;
}


td {
  width: 25% ;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #00BFFF;
  border: none;
  color: white;
  font-weight:bold;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-image:url("/static/images/airbnb.png");
background-position: center; /* Center the image */
background-repeat: no-repeat;
background-size: cover;
}

a, a:visited {
    color: white;
    text-decoration: none;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
  color:white;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.select-css {
	display: block;
	font-size: 16px;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
    width: 100px;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
    text-align: center;
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight:bold;
}