<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
<base href="">
<meta charset="utf-8" />
<title>Hawaii Airbnb</title>
<link rel="shortcut icon" type="image/x-icon" href="https://assets.squarespace.com/universal/default-favicon.ico"/>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Dosis:200,200,200,500,600,700,800|Roboto:100,200,200,350i,500,700,700i,900"/>
<link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/57d20290414fb53b53049131/100/515c7bd0e4b054dae3fcf003/57f585ee9f745612766ee73a/2778-05142015/1536180373479/site.css?&filterFeatures=false"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
  <script src="/static/js/hawaii.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>
<script crossorigin="anonymous" src="//assets.squarespace.com/universal/scripts-compressed/common-693dea59fd2588b3874e0-min.en-US.js" ></script>
<script type="text/javascript"> SquarespaceFonts.loadViaContext(); Squarespace.load(window);</script>

  </head>

  <body>

    <div id="mobileNav" data-content-field="navigation-mobileNav">
      
  <nav class="main-nav">
      <div class="nav-wrapper">
        <ul class="cf">
            <li class="index-collection folder">
                <a href="/"><span>Home</span></a>
            </li>
            <li class="page-collection">
              <a href="Tourism_Statistics"><span>Visualization</span></a>
            </li>
            <li class="folders-collection folder active-link active-folder">
                  <div class="folder-parent">
                    <a aria-haspopup="true"><span>Hawaiian Islands</span></a>
                    <div class="folder-child-wrapper">
                      <ul class="folder-child">
                            <li class=" active-link">
                              <a href="Kauai">
                                <span>Kauai</span>
                              </a>
                            </li>
                            <li class="">
                              <a href="Oahu">
                                <span>Oahu</span>
                              </a>
                            </li>
                            <li class="">
                              <a href="Maui">
                                <span>Maui</span>
                              </a>
                            </li>
                            <li class="">
                              <a href="lanai">
                                <span>Lanai & Molokai</span>
                              </a>
                            </li>
                            <li class="">
                              <a href="bigisland">
                                <span>Big Island Hawaii</span>
                              </a>
                            </li>
                      </ul>
                    </div>
                  </div>
            </li>
            <li class="page-collection">
              <a href="Airbnb"><span>Airbnb</span></a> 
            </li>
			<li class="page-collection">
                <a href="Airbnb_Map"><span>Airbnb Map</span></a>
            </li>
      </ul>
    </div>
  </nav>

    </div>

    <div class="site-wrapper">
      <div class="site-inner-wrapper">

        
       <header id="header" class="sqs-announcement-bar-dropzone">
          <div class="sqs-cart-dropzone"></div>
          <div class="title-nav-wrapper">
            
            <h1 data-content-field="site-title" class="site-title">
              <a href="/" id="top">
                
                 <img src="http://theepicureanexplorer.com/wp-content/uploads/2014/06/The-Hawaiian-Islands.jpg" />
                
              </a>
            </h1>
            <a class="icon-menu" id="mobileMenu"></a>
            
            <!--MAIN NAVIGATION-->
            <div id="desktopNav" data-content-field="navigation-mainNav" data-annotation-alignment="bottom left">
              
  <nav class="main-nav">
      <div class="nav-wrapper">
        <ul class="cf">
        

          
            <li class="index-collection folder active-link active-folder">           
                <a href="/"><span>Home</span></a>            
            </li>
            <li class="page-collection">
                <a href="index.html"><span>Visualizations</span></a>
            </li>
            <li class="folders-collection folder">
                  <div class="folder-parent">
                    <a aria-haspopup="true"><span>Hawaiian Islands</span></a>
                    <div class="folder-child-wrapper">
                      <ul class="folder-child">
                            <li class="">
                              <a href="Kauai">
                                <span>Kauai</span>
                              </a>
                            </li>
                            <li class="">
                              <a href="Oahu">
                                <span>Oahu</span>
                              </a>
                            </li>
                            <li class="">
                              <a href="Maui">
                                <span>Maui</span>
                              </a>
                            </li>
                            <li class="">
                              <a href="lanai">
                                <span>Lanai & Molokai</span>
                              </a>
                            </li>
                            <li class="">
                              <a href="bigisland">
                                <span>Big Island Hawaii</span>
                              </a>
                            </li>
                      </ul>
                    </div>
                  </div>
            
            </li>
			<li class="page-collection">
                <a href="Airbnb"><span>Airbnb</span></a>
            </li>
			<li class="page-collection">
                <a href="Airbnb_Map"><span>Airbnb Map</span></a>
            </li>
 
        
      </ul>
    </div>
  </nav>

            </div>
          </div>
</header>
<br/><br/><br/><br/><br/><br/><br/><br/>

    <div class="Airbnb_Row">
      <div class="col-md-12 col-lg-12 jumbotron text-center">
		<br/>
        <h2>Hawaii Airbnbs</h2>
      <div class="col-md-12 col-lg-12">
		<center>
        <h2>Select The Neighborhood to View the Airbnb Details </h2>
          <select class="select-css" id="DropDown_Neighborhood" onchange="optionChanged(this.value)"></select>
			</center>
      </div>
      </div>
	  <center>
	  <a class="button" href="#list"><span>Listing Details </span></a>
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <a class="button" href="#host"><span>Host Details </span></a>
      &nbsp;&nbsp;&nbsp;&nbsp;
	  <a class="button" href="#review"><span>Review Details </span></a>
	  </center>
    </div>
	
	<br>


    <div class="well">
	<h2 id="list">Listing Visualizations</h2>
      <div class = "row">
        <div class = "col-md-6 col-lg-6">
          <div id="price"></div>
		 </div>
		 <div class = "col-md-6 col-lg-6">
		  <div id="security"></div>
		  </div>
		  <div class = "col-md-12 col-lg-12">
		  <div id="amenities"></div>
		  </div>
        </div>  
      
	  <div class = "row">
        <div class = "col-md-3 col-lg-3">
          <div id="property"></div>
        </div>
        <div class = "col-md-3 col-lg-3">
          <div id="room"></div>
        </div>
		<div class = "col-md-3 col-lg-3">
          <div id="bed"></div>
		 </div>	
		<div class = "col-md-3 col-lg-3">
          <div id="cancellation"></div>
        </div>
       
		
		<div class = "row">
        
		<div class = "col-md-6 col-lg-6">
          <div id="accom_bath_bedroom_beds"></div>
        </div>		
      </div>
	  </div>

<h2 id="host">Host Visualizations</h2>	
 <div class = "row"> 
<div class = "col-md-12 col-lg-12">
          <div id="host_listing"></div>
</div>	
<div class = "col-md-12 col-lg-12">
          <div id="host_visual_pie"></div>
</div>
<div class = "col-md-12 col-lg-12">
          <div id="host_visual"></div>
</div>
</div>	  
<h2 id="review">Reviews Visualizations</h2>	  

 <center>
	  <button type="button" class="button" onclick="Reviews('Honolulu')"><span>Honolulu</span></button>
	  <button type="button" class="button" onclick="Reviews('Hawaii')"><span>Hawaii</span></button>
	  <button type="button" class="button" onclick="Reviews('Kauai')"><span>Kauai</span></button>
	  <button type="button" class="button" onclick="Reviews('Maui')"><span>Maui</span></button>
</center>
<div class ="row">	  
<div class = "col-md-12 col-lg-12">
          <div id="Reviews"></div>
</div>
<div class = "col-md-12 col-lg-12">
          <div id="comment"></div>
</div>			  

</div>
</div>	
      </div>
	</div>
	
	
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
 <script src= "https://cdn.zingchart.com/zingchart.min.js"></script>
  <script> zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
  ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9","ee6b7db5b51705a13dc2339db3edaf6d"];</script>  <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">

   <!--FOOTER WITH OPEN BLOCK FIELD-->
        <footer id="footer">
          <div class="back-to-top-link"><a href="#top"><span class="arrow"></span>Top</a></div>
          <div class="footer-wrapper">
           
          
          </div>
        </footer>
		<script data-name="static-context" src="/static/js/hawaii.js"></script>
 <script src="https://static1.squarespace.com/static/ta/515c7b5ae4b0875140c3d94a/2778/scripts/site-bundle.js" type="text/javascript"></script>
  </body>
</html>