<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
<base href="">
<meta charset="utf-8" />
<title>Exploring - Hawaii &mdash;</title>
<link rel="shortcut icon" type="image/x-icon" href="https://assets.squarespace.com/universal/default-favicon.ico"/>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Dosis:200,200,200,500,600,700,800|Roboto:100,200,200,350i,500,700,700i,900"/>
<link rel="stylesheet" type="text/css" href="//static1.squarespace.com/static/sitecss/57d20290414fb53b53049131/100/515c7bd0e4b054dae3fcf003/57f585ee9f745612766ee73a/2778-05142015/1536180373479/site.css?&filterFeatures=false"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
  <script src="/static/js/hawaii.js"></script>
 
<script crossorigin="anonymous" src="//assets.squarespace.com/universal/scripts-compressed/common-693dea59fd2588b3874e0-min.en-US.js" ></script>
<script type="text/javascript"> SquarespaceFonts.loadViaContext(); Squarespace.load(window);</script>

  </head>

  <body>

    <div id="mobileNav" data-content-field="navigation-mobileNav">
      
  <nav class="main-nav">
      <div class="nav-wrapper">
        <ul class="cf">
            <li class="index-collection folder">
                <a href="/"><span>Home</span></a>
            </li>
            <li class="page-collection">
              <a href="/new-page"><span>Visualization</span></a>
            </li>
            <li class="folders-collection folder active-link active-folder">
                  <div class="folder-parent">
                    <a aria-haspopup="true"><span>Hawaiian Islands</span></a>
                    <div class="folder-child-wrapper">
                      <ul class="folder-child">
                            <li class=" active-link">
                              <a href="Kauai">
                                <span>Kauai</span>
                              </a>
                            </li>
                            <li class="">
                              <a href="Oahu">
                                <span>Oahu</span>
                              </a>
                            </li>
                            <li class="">
                              <a href="Maui">
                                <span>Maui</span>
                              </a>
                            </li>
                            <li class="">
                              <a href="lanai">
                                <span>Lanai & Molokai</span>
                              </a>
                            </li>
                            <li class="">
                              <a href="bigisland">
                                <span>Big Island Hawaii</span>
                              </a>
                            </li>
                      </ul>
                    </div>
                  </div>
            </li>
            <li class="page-collection">
              <a href="Airbnb"><span>Airbnb</span></a> 
            </li>
      </ul>
    </div>
  </nav>

    </div>

    <div class="site-wrapper">
      <div class="site-inner-wrapper">

        
       <header id="header" class="sqs-announcement-bar-dropzone">
          <div class="sqs-cart-dropzone"></div>
          <div class="title-nav-wrapper">
            
            <h1 data-content-field="site-title" class="site-title">
              <a href="/" id="top">
                
                 <img src="http://theepicureanexplorer.com/wp-content/uploads/2014/06/The-Hawaiian-Islands.jpg" />
                
              </a>
            </h1>
            <a class="icon-menu" id="mobileMenu"></a>
            
            <!--MAIN NAVIGATION-->
            <div id="desktopNav" data-content-field="navigation-mainNav" data-annotation-alignment="bottom left">
              
  <nav class="main-nav">
      <div class="nav-wrapper">
        <ul class="cf">
        

          
            <li class="index-collection folder active-link active-folder">           
                <a href="/"><span>Home</span></a>            
            </li>
            <li class="page-collection">
                <a href="index.html"><span>Visualizations</span></a>
            </li>
            <li class="folders-collection folder">
                  <div class="folder-parent">
                    <a aria-haspopup="true"><span>Hawaiian Islands</span></a>
                    <div class="folder-child-wrapper">
                      <ul class="folder-child">
                            <li class="">
                              <a href="Kauai">
                                <span>Kauai</span>
                              </a>
                            </li>
                            <li class="">
                              <a href="Oahu">
                                <span>Oahu</span>
                              </a>
                            </li>
                            <li class="">
                              <a href="Maui">
                                <span>Maui</span>
                              </a>
                            </li>
                            <li class="">
                              <a href="lanai">
                                <span>Lanai & Molokai</span>
                              </a>
                            </li>
                            <li class="">
                              <a href="bigisland">
                                <span>Big Island Hawaii</span>
                              </a>
                            </li>
                      </ul>
                    </div>
                  </div>
            
            </li>
			<li class="page-collection">
                <a href="Airbnb"><span>Airbnb</span></a>
            </li>
 
        
      </ul>
    </div>
  </nav>

            </div>
          </div>
</header>

  
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
	  <li data-target="#myCarousel" data-slide-to="3"></li>
	  <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="/static/images/hawaii_1.jpg" alt="Kauai" style="width:100%;">
        <div class="carousel-caption">
          <h3>Kauau Island</h3>
          <p>Kauau Island is always so much fun!</p>
        </div>
      </div>

      <div class="item">
        <img src="/static/images/hawaii_2.jpg" alt="Maui" style="width:100%;">
        <div class="carousel-caption">
          <h3>Maui Island</h3>
          <p>Thank you, Maui Island!</p>
        </div>
      </div>
    
      <div class="item">
        <img src="/static/images/hawaii_3.jpg" alt="Oahu" style="width:100%;">
        <div class="carousel-caption">
          <h3>Oahu Island</h3>
          <p>We love Oahu Island!</p>
        </div>
      </div>
	  
	   <div class="item">
        <img src="/static/images/hawaii_4.jpg" alt="Lanai" style="width:100%;">
        <div class="carousel-caption">
          <h3>Lanai & Molokai Island</h3>
          <p>We love Lanai & Molokai Island!</p>
        </div>
      </div>
	  
	   <div class="item">
        <img src="/static/images/hawaii_5.jpg" alt="Big" style="width:100%;">
        <div class="carousel-caption">
          <h3>Big Island Hawaii</h3>
          <p>We love Big Island Hawaii!</p>
        </div>
      </div>
  
    </div>
     
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <hr>
   <h1 class="text-align-center">Hawaii Islands</h1>
	<hr>
 <table>
 <tr>
   <td>
   <a href="Kauai">
   <img src="/static/images/kauai.jpeg" alt="Kauai- PC HTA/Tor Johnson  &amp;nbsp;" width="200" height="200"/>
   </a>
   </td>
   <td>
   <a href="Maui">
   <img src="/static/images/Maui.jpeg" alt="Maui-PC HTA Tor Johnson &amp;nbsp;" width="200" height="200" />
   </a>
   </td>
   <td>
   <a href="Oahu">
   <img src="/static/images/oahu.jpeg" alt="Oahu-PC HTA Tor Johnson &amp;nbsp;" width="200" height="200" />
   </a>
   </td>
  </tr>
  <tr>
  <td>
  <h1>Kauai</h1><h3>Scenic Coastline</h3><p>The Hawaiian island of Kauai is a verdant jewel from the air.<br/> With miles of beautiful beaches, spectacular canyons,<br/> waterfalls and mountainous peaks, Kauai by helicopter <br/>will take your breath away.</p><br><br>
  </td>
 <td>
 <h1>Maui</h1><h3>Makena Beach</h3><p>Maui by helicopter is a sight to behold. The lush rain forests of Hana, the heavenly grandeur of Haleakala Crater, the majestic West Maui Mountains and miles of beautiful beaches all add <br/>up to a visual adventure of a lifetime.</p><br><br>
  </td>
  <td>
  <h1>Oahu</h1><h3>Waikiki&nbsp;</h3><p>The Hawaiian island of Oahu is a study in contrasts. From the <br/>air, the bustle of Honolulu and Waikiki counters the power of <br/>the North Shore’s pounding surf and the majestic serenity of <br/>the Koolau Mountains. </p>
  <br><br>
  </td>
  </tr> 
  <tr>
   <td>
   <a href="bigisland">
   <img src="/static/images/bigisland.jpeg" alt="Kauai- PC HTA/Tor Johnson  &amp;nbsp;" width="200" height="200"/>
   </a>
   </td>
   <td>
   <a href="lanai">
   <img src="/static/images/lanai.jpeg" alt="Maui-PC HTA Tor Johnson &amp;nbsp;" width="200" height="200" />
   </a>
   </td>
   <td>
   <a href="more">
   <img src="/static/images/more.jpg" alt="Oahu-PC HTA Tor Johnson &amp;nbsp;" width="200" height="200" />
   </a>
   </td>
  </tr>
  <tr>
  <td>
  <h1>Big Island Hawaii</h1><h3>Hawi</h3><p>The Big Island of Hawaii offers spectacular aerial views of <br/>dramatic coastlines, geysering lava flows, verdant valleys <br/> and lush waterfalls.</p>
  </td>
 <td>
 <h1>Lanai &amp; Molokai&nbsp;</h1><h3>MANELE BAY</h3><p>Molokai and Lanai offer vastly different sceneries from the air. <br/>Molokai’s sea cliffs are some of the most impressive in the world. <br/> Lanai’s diversity is amazing from arid moonscapes.
  </td>
  <td>
  <h1>More of Hawaii</h1><h3>Hawaiian Islands</h3><p>Hawaii has the most breathtaking views &nbsp;and stunning landscapes.<br/> Enjoy more content and videos here of the Hawaiian History and Top Beaches.  &nbsp;</p>
  </td>
  </tr>
</table>  



  <p class="weather-error-message hide">
    <strong>Weather data not available for this location.  Please try again later.</strong>
  </p>
</div></div>
   <!--FOOTER WITH OPEN BLOCK FIELD-->
        <footer id="footer">
          <div class="back-to-top-link"><a href="#top"><span class="arrow"></span>Top</a></div>
          <div class="footer-wrapper">
           
          
          </div>
        </footer>
		<script data-name="static-context" src="/static/js/hawaii.js"></script>
 <script src="https://static1.squarespace.com/static/ta/515c7b5ae4b0875140c3d94a/2778/scripts/site-bundle.js" type="text/javascript"></script>
  </body>
</html>